/******************************************************************
Site Name:
Author: Silvio Lorusso & Roberto Picerno

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/




/*********************
01. GENERAL STYLES
*********************/

html, body {
	height: 100%;
}
body {
	font-family: @sans-serif;
	font-size: 100%;
	line-height: 1.5;
	background-color: @grey;
	// Roberto
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 92%;
	margin: 0 auto;
}
#container {
	margin-bottom: -120px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	&:after {
		content: "";
		display: block;
		height: 120px;		
	}
}

/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;
	text-decoration: none;
	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
	&:hover {
		transition: background-color 250ms, color 250ms, border 250ms;
	}
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @sans-serif;
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	color: #5b5b5b; 
	font-weight: 500;
	font-size: 1.5em;
}

h2, .h2 {
	color: #555; 
	font-size: 1em; 
	font-weight: 700;
}

h3, .h3 {
	color: #222; 
	font-weight: 700; 
	text-transform: uppercase;
	font-size: 0.9em;
}

/*********************
06. HEADER STYLES
*********************/

.header {
	position: fixed;
	width: 100%;
	background-color: @white;
	border-bottom: 1px solid @grey;
	z-index: 999;
	#inner-header {
		height: 54px;
		background-color: white;
		#logo {
			margin-top: 8px;
			margin-bottom: 0;
			line-height: 0;
			float: left;
			a img {
				height: 37px; 
			}
		}
		#search {
			float: right;
			input {
				margin-top: 16px;
				height: 24px;
				width: 80px;
				padding: 10px;
				background-color: @grey;
				background-image: url(../images/search_icon.png);
				background-position: 85% center;
				background-repeat: no-repeat;
				background-size: 15px;
				border: 1px solid darken(@grey, 10%);
				border-radius: 30px;
				outline: none;
				font-size: 0.8em;
				font-family: @sans-serif;
			}
		}
	}
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
#main-nav {
	background-color: @white;
	padding-top: 57px;
}
.nav {
	border-bottom: 0;
	text-transform: uppercase;
	font-size: 0.8em;
	background-color: white;
	padding-bottom: 2px;
	ul {
		margin: 2px 0;
	}
	li {
		float: left;
		display: inline;
		padding: 10px;
		border: 1px solid transparent;
		a {
			font-weight: 600;
			text-decoration: none;
			padding: 10px 10px;
			&:hover {
				background-color: @link-color;
				color: @white;
			}
		}
		&:first-child {
			display: none;
		}
		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;
					&:hover,
					&:focus {}
					&:link {}
				}
				&:first-child {}
				&:last-child {}
			}
		}
	} /* end .menu li */
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		border: 1px solid @link-color;
		a:hover {
			background-color: @white;
			color: @link-color;
		}
	}  /* end current highlighters */
} /* end .nav */
#nav-below, #infscr-loading {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*********************
08. POSTS & CONTENT STYLES
*********************/
.projectbox {
	height: 250px !important;
	padding: 20px;
	.project-pic {
		width: 100%;
		height: 150px;
		background-size: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}
}
.box {
	background-color: @white;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	&:hover {
		box-shadow: 1px 1px 1px 1px @link-color;
	}
	.single {
		min-height: 200px;
	}
	.excerpt {
		text-align: left !important;
		padding: 15px;
		background-color: darken(@grey, 40%);
		color: @white !important;
		font-size: 1.3em;
	}
	.box-left {
		width: 100%;
		background-position: center center;
		background-size: 100%;
		background-repeat: no-repeat;
		text-align: center;
		color: @black;
		p {
			margin-top: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
		.index-pic {
			width: 100%;
			height: auto;
			padding: 20px 0;
			
		}
	}
	.box-right {
		width: 100%;
		padding: 20px 20px 0 20px;
		color: darken(@grey, 40%);
		min-height: 180px;
		small {
			text-transform: uppercase;
		}
		h1 {
			font-size: 1.5em;
			font-weight: 700;
			margin-bottom: 10px;
			margin-top: 2px;
			color: @link-color;
		}
		.content a {
			color: @black;
		}
	}
	.latest {
		display: none;
	}
}
#next {
	#next-read {
		color: darken(@grey, 60%);
		font-size: 0.8em;
		text-transform: uppercase;	
		margin-bottom: 1em;
	}
}
.byline {
	font-size: 0.8em;
	color: darken(@grey, 60%);
	margin-top: -0.5em;
	margin-bottom: 1.5em;
}

#content {
	#pre-inner-content {
		#inc-blurb {
			font-weight: 300;
			font-size: 1.1em;
			color: darken(@grey, 60%);
			p {
				margin-top: 1em;
			}
		}
		#inc-news {
			#inc-news-pic {	
				width: 100%;
				height: 70px;
				background-image: url('../images/inc_blog.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 140px;
			}
		}
		#geert-blog {
			background-color: @white;
			text-align: center;
			font-size: 1.1em;
			font-weight: 300;
			padding: 0 30px;
			p {
				padding: 0.4em 0 0.5em 0;
				margin-top: 0.7em;
			}
		}
	}
	#banner{
		background-color: @white;
		line-height: 0;
		margin-bottom: 1em;
		img {
			width: 100%;
			height: auto;
		}
	}
	.title-out {
		color: darken(@grey, 60%);
		font-weight: 300;
		font-size: 1.1em;
	}
	#inc-pubs{
		height: 190px;
		background-color: @white;
		background-image: url('../images/inc-pubs.jpg');
		background-position: center center;
		background-size: 200% auto;
		padding-top: 80px;
		div {
			margin-left: auto;
			margin-right: auto;
			padding: 10px 0;
			background-color: @white;
			width: 60%;
			text-align: center;
			font-weight: 800;
			font-size: 0.8em;
			text-transform: uppercase;
			border: 1px solid @link-color;
			&:hover {
				background-color: @link-color;
				color: @white;
			}
		}
	}
	#newsletter {
		padding: 3em 0;
		input {
			width: 100%;
			padding: 10px 0;
			outline: none;
			font-size: 0.8em;
			height: 50px;
			&[type="email"] {
				padding: 0 20px;
				border: 1px solid darken(@grey, 10%);
				margin-bottom: 15px;
				font-weight: 300;
				color: darken(@grey, 40%);
			}
			&[type="submit"] {
				background-color: @link-color;
				border: none;
				text-transform: uppercase;
				font-weight: 600;
				color: @white;
				border: solid 1px @link-color; 
				&:hover {
					background: @white; 
					color: @link-color;
				}
			} 
			&:focus {
				border: solid 1px @link-color;
			}
		}
	}
}
#inner-content {
	padding-bottom: 1em;
}
		.hentry {
			padding-bottom: 30px;
			color: @black;
			header {
				margin-top: 20px;
			}
			footer {
				#share {
					color: darken(@grey, 60%);
					span {
						font-size: 0.8em;
						text-transform: uppercase;
					}
					i {
						color: darken(@grey, 60%);
						margin-left: 20px;
					}
				}
			}
		} /* end .hentry */

		/* entry content */
		.entry-content {
			h1, h2, h3 {
				padding-right: 8em;
			}
			ul, ol, table, dl {
				font-size: 1.4em;
				padding-right: 8em;
				list-style-type: disc;
			}
			blockquote {
				margin-left: 0px; 
				padding-left: 1em; 
				border-left: 3px solid #ccc; 
				padding-left: 1em; 
				color: #999;
			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}
			img {
				margin: 0 0 0.8em 0;
				max-width: 100%;
				height: auto;
			}
			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}
		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}
			p.wp-caption-text {
				font-size: 0.95em;
				margin: 4px 0 7px;
				padding: 0;
			}
		} /* end .wp-caption */
		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */
		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/* contacts */		
#map {
	width: 100%;
	height: 150px;
	margin-top: 1em;
}


/* publications */
div#page-publications div#maincontent .content {
    padding: 70px 30px 0px 5px;
}
div#pub-menu {
	background-color: @white;
	padding: 1em;
    ul {
	    list-style: none;
	    margin: 0;
	    li {
		    padding-left: 5px;
		    padding-right: 5px;
		    margin-right: 7px;
		    background: none;
		    color: @link-color;
		    margin-top: 0.3em;
		    margin-bottom: 0.3em;
		    cursor: pointer;
		}
		li.current {
		    background-color: @link-color !important;
		    color: @white !important;   
		} 
    }
}
div#pub-desc {
    margin-bottom: 30px;
    min-height: 80px; 
}
div#pub-desc p {
    display: none;
}

div.publication {
	font-size: 0.9em;
	div.cover {
	    height: 270px;    
	    text-align: center;
	    padding-top: 10px;
	}
	div.cover img {
	    height: 260px;  
	    width: auto; 
	}
	p.categories {
	    margin-bottom: 0;
	    font-weight: 100;
	}
	.pub-title {
	    font-weight: 600;
	    margin: 0;
	}
	div.info p {
	    margin-bottom: 10px;
	}
	div.info span {
	    color: #ff3300;
	}
	div.download {
	    text-align: right;
	}
}



/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}


/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: @darkgrey;
	color: @white;
	height: 120px;
	padding-top: 30px;
	#inner-footer {
		#hva {
			float: left;
			img {
				width: 250px;
			}
		}
/*
		#creating-tomorrow {
			font-size: 0.6em;
			float: left;
			margin-top: -15px;
		}
		#createit {
			background-image: url('../images/createit.png');
			background-size: 100%;
			background-repeat: no-repeat;
			width: 66px;
			height: 38px;
			float: left;
			margin-left: 20px;
			margin-top: -9px;
		}
*/
		#social {
			margin-top: 5px;
			float: right;
			i {
				margin-left: 5px;
				color: @white;
			}
		}
		#credits {
			font-size: 0.7em;
			margin-left: 10px;
			clear: both;
			padding-top: 15px;
			a {
				font-weight: 800;
			}
		}
	}
}